<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trackme :: show phone location service</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <meta charset="utf-8" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 100%;
        }
    </style>
</head>
<body onload="connect()">
<div id="map"></div>
<script th:src="@{'/js/sockjs-0.3.4.js'}"></script>
<script th:src="@{'/js/stomp.js'}"></script>
<script th:src="@{'/js/trackme.js'}"></script>
<script th:src="@{'/js/phoneLocationPush.js'}"></script>
<script th:inline="javascript">
    var name = [[${name}]];
    var latitude = [[${latitude}]];
    var longitude = [[${longitude}]];

    initLocation({
        name: name,
        latitude: latitude,
        longitude: longitude
    });
</script>
<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey} + '&amp;callback=initMap'}" async="defer"></script>
</body>
</html>